<body>
  <main class="container mt-5 text-center">
    <h2><%= message %></h2>
    <button class="btn btn-primary mt-2">
      <a href="/" class="text-decoration-none text-white">Home</a>
    </button>
  </main>
</body>
