<body>
  <!-- Main content -->
  <div class="main-content">
    <!-- Header -->
    <div><%- include('../partials/admin/navbar'); %></div>
    <%- include('../partials/admin/header'); %>
    <main>Dashboard</main>
  </div>
</body>
