<div class="dropdown-menu dropdown-menu-arrow dropdown-menu-right">
  <div class="dropdown-header noti-title">
    <h6 class="text-overflow m-0">Welcome!</h6>
    <h6 class="text-overflow text-black text-lowercase"><%= user.email %></h6>
  </div>
  <div class="dropdown-divider"></div>
  <a id="logout" href="#!" class="dropdown-item logout">
    <i class="ni ni-user-run"></i>
    <span class="logout">Logout</span>
  </a>
</div>
<script>
  document.getElementById("logout").addEventListener("click", () => {
    // Clear cookie
    document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
    window.location.href = "/";
  });
</script>
